/*------------------FONTS------------------*/
p  {
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  text-align: center;
  text-align: left;}
h1 {
  font-size: 30px; 
  padding: 20px;
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  font-weight: bold;}
h2 {
  font-size: 30px; 
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  text-align: left;
  font-weight: bold;}
/*------------------HTML------------------*/
html {
  padding: 0px;
  background-size:170px;
  background-image: url("bg.png");}
body {
  margin: 0px;}s
/*------------------HEADER------------------*/
header {
  background-image: linear-gradient(to right, #040404, #141414, #040404);
  padding: 0px;
  text-align: center;
  margin: 0px;
  color: white;}
/*------------------SECTIONS------------------*/
.status{
  margin: 0px;
  padding: 40px;
  color: #ffffff;
  box-shadow: 0px 0px 15px 2px rgba(0, 38, 255, 0.507);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(185, 44, 44) 40%);}
.about{
  margin: 40px;
  padding: 40px;
  color: #ffffff;
  border: solid rgb(204, 0, 255);
  box-shadow: 0px 0px 15px 2px rgba(0, 38, 255, 0.507);
  border-width:  1px;
  background-image: radial-gradient(rgb(29, 29, 29), rgb(20, 20, 20));}
.tools{
  margin: 40px;
  padding: 40px;
  color: #ffffff;
  border: solid rgb(204, 0, 255);
  box-shadow: 0px 0px 15px 2px rgba(0, 38, 255, 0.507);
  border-width:  1px;
  background-image: radial-gradient(rgb(29, 29, 29), rgb(20, 20, 20));}
/*------------------NAVIGATION------------------*/
  nav {
  overflow: hidden;
  background-image: linear-gradient(to right, #040404, #141414, #040404);
  font-family: 'Electrolize', sans-serif;
  margin:none;}
nav a {
  float: right;
  font-size: 16px;
  color: #c5c5c5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
.dropdown {
  float: right;
  overflow: hidden;}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #c5c5c5;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3d3c3c;
  transition: 5000ms;}
.dropdown-content {
        display: none;
        position: absolute;
        background-color: #3d3c3c;
        min-width: 160px;
        transition: 1000ms;
        box-shadow: 0px 0px 0px 0px rgba(255, 30, 0, 0.801);
        z-index: 1;}
    .dropdown-content a {
        float: none;
        color: #d4d4d4;
        padding: 12px 16px;
        transition: 1000ms;text-decoration: none;display: block;text-align: left;}
    .dropdown-content a:hover {
        background-color: #505050;
        transition: 5000ms;}
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
        transition: 1000ms;}
    table {
        background-color: #777;
        padding: 10px;
        height: fit-content;
        font-family: 'Electrolize', sans-serif;
        color: white;
        background-color: #080808;}
    tr{
        text-align: left;
    }
/*------------------FOOTER------------------*/
footer {
    background-color: #777;
    padding: 10px;
    font-family: 'Electrolize', sans-serif;
    color: rgb(255, 0, 0);
    background-color: #693e3e;}
/*------------------LOADING------------------*/
  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    background-color: #8234db;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #252427;
    border-radius: 50%;
    border-top: 10px solid #8234db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 700ms linear infinite;
  }
  #load-bg {
    background-color: #8234db;}
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    #html {
      display: block; }
  #loading{
      display: none;
  }