/*============================================== HTML ============================================== */
html {
  height: 100%;
  width: 100%;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*============================================== HEADER ============================================== */
.handb {
  height: 100%;
  margin: 0px;
  z-index:1;
}
header {
  width: 100%;
  margin: 0px;
  z-index:2;
  text-align: right;
  overflow: auto;
  position: relative;
  background-color: #070707;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, rgb(27, 27, 27), rgb(150, 150, 150),rgb(27, 27, 27)) 1;
}
  header a {
    padding:  30px 30px 30px 30px;
    float: right;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }
  header p {
    padding:  30px 30px 30px 30px;
    float: right;
    color: #ffffff;
    margin: 0px;
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }
  header h1 {
    width: 210px;
    float: left;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }
  header button {
    background-color: #3f189b00;
    color: #fff;
    border: none;
    padding: 4px;
    vertical-align: middle;
    }
/*============================================== NAVIGATION ============================================== */
.navbar {
  position: relative;
  display: block;
  float: right;
} 
.dropdown {
  float: right;
  margin: 0px;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  padding: 0px;
  color: white;
  margin: 0px;
  overflow:hidden;
}
.dropdown-content {
  display: none;
  position:fixed;
  background-color: #070707;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content p {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #070707;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.mobilenav {
  display: none;
}
#myNav, .overlay{
  display: none;
}
/*============================================== BODY ============================================== */
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2025 0%, #09090e 100%);
  background-attachment: fixed;
  flex-flow: column;
  position: relative;
}
.wrapper1 {
  display: block;
  z-index:1;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .wrapper2 {
  z-index:1;
  display: flex;
  padding: 40px;
  margin: 90px auto;
  position: relative;
  gap: 50px;
  width: 70%;
  text-align: center;  
 }
.wrapper3 {
  display: block;
  z-index:1;
  position: relative;
  margin: 90px auto;
  width: 800px;
 }
 .wrapper4 {
  display: block;
  z-index:1;
  position: relative;
  margin: 90px auto;
  width: 90%;
 }
.container1 {
  display: block;
  content: center;
  background-color: #070707ed;
  border: 1px solid #ffffff;
  text-align: center;
  width: auto;
  padding: 30px;
}
.container2 {
  background-color: #070707ed;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 30px;
  display: inline-block;
}
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  display: block;
  width: auto;
}
tbody {
  display: table;
  width: 100%}
table td, table th {
  border: 1px solid #000000;
  padding: 8px;}
table tr{background-color: #303030;
color: #fff;
width: 100%;}
table tr:hover {background-color: #303030;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: bold;
  background-color: #161616;
  color: white;}
hr {
  border: 0;
  margin: 0px;
  height: 1px;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.555), rgba(0, 0, 0, 0));
}
/*============================================== FOOTER ============================================== */
footer{
  text-decoration: #fff;
  padding: 50px;
  position:relative;
  z-index:1;
  margin: 0px;
  color: #fff;
  border-top: 1px solid;
  border-image: linear-gradient(90deg, rgb(27, 27, 27), rgb(150, 150, 150),rgb(27, 27, 27)) 1;
  background-color: #070707;
}
.social {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}
.handle {
  text-align: center;
}
/*============================================== BUTTONS ============================================== */
button {
  background-color: #101010;
  color: #fff;
  border: 1px solid #5a5a5a;
  padding: 4px;
  margin: 9px;
  vertical-align: middle;}
.btn-icon {
  padding: 5px;
  vertical-align: middle;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 auto;}
.btn {
  padding: -4px;
}
.btn span {
  max-width: 0;
  -webkit-transition: max-width 2s;
  transition: max-width 2s;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;}
  .btn:hover span {
    max-width: 20em;
    vertical-align: middle;}
span {
  vertical-align: middle;
  position: relative;
  max-width: 200px;
  display: inline-block;
  transform-origin: 50% 50%;
  padding: none;
}
svg{vertical-align: middle;
  padding: 4x;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
  margin: 0 auto;}

.hb {
	display: inline-block;
	position:relative;
	text-align: center;
	z-index: 0;}
.hb:before,
.hb:after {
	position: absolute;
	content: "";  
	left: -1px;
	top: 0;
	z-index: -1;}
.hb:before {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);}
.hb:after {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);}

.hb-sm {
	line-height: 37px;
	font-size: 37px;
	margin: 18.5px 0px;}
.hb-sm ,
.hb-sm:before ,
.hb-sm:after {
	height: 37px;
  width: 64px; } 
.hb-sm-margin {
  margin: 15px;}
.spin,
.spin-icon i {
	-webkit-transition: -webkid-transform .25s  ease;
	   -moz-transition: -moz-transform .25s  ease;
	    -ms-transition: -ms-transform .25s  ease;
	     -o-transition: -o-transform .25s  ease;
	        transition: transform .25s  ease;}
.spin-icon:hover i,
.spin:hover {
	-webkit-transform:rotate(360deg);
	   -moz-transform:rotate(360deg);
	    -ms-transform:rotate(360deg);
	     -o-transform:rotate(360deg);
      transform:rotate(360deg);
    }
.hb-custom,
.hb-custom:before,
.hb-custom:after {
	background: #101010 !important;
	color: white!important;
	border-left:1px solid #5a5a5a !important;;
  border-right:1px solid #5a5a5a !important;;
}

/*============================================== FONTS ============================================== */
/* - Advent Pro - Audiowide - Doppio One - Electrolize - Iceland - Orbitron - Raleway Dots */
/* - Roboto - Russo One - Sunflower - Teko - Turret Road - Gugi */
a, a:link, a:visited, a:hover, a:active {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  }
p {
  font-family: 'Electrolize';
  font-size: 16px; 
  color: #fff;
  text-align: left;
  text-decoration: none;
  }
h1 {
  font-size: 16px; 
  margin: 0px;
  color: #fff;
  font-weight: bold;}
h2 {
  font-family: 'Electrolize';
  font-size: 40px; 
  margin: 0px;
   color: #fff;
  font-weight: normal;}
h3 {
  font-size: 15px; 
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  color: #6d6d6d;
  text-align: center;
  font-weight: bold;}
sub {
  font-size: 15px; 
  font-family: 'Electrolize', sans-serif;
  color: #6d6d6d;
  text-decoration: none;}
/*============================================== BACKGROUND ============================================== */
#stars {
  width: 1px;
  height: 1px;
  z-index:-2;
  overflow: hidden;
  background: transparent;
  box-shadow: 1518px 1421px #FFF , 94px 1700px #FFF , 388px 1154px #FFF , 819px 428px #FFF , 1707px 664px #FFF , 1099px 849px #FFF , 1510px 387px #FFF , 604px 615px #FFF , 499px 1333px #FFF , 35px 65px #FFF , 1228px 1336px #FFF , 252px 1026px #FFF , 1801px 876px #FFF , 1725px 1890px #FFF , 935px 1581px #FFF , 409px 532px #FFF , 426px 621px #FFF , 1007px 1197px #FFF , 1874px 1250px #FFF , 272px 1121px #FFF , 261px 170px #FFF , 106px 1956px #FFF , 995px 1659px #FFF , 1436px 207px #FFF , 822px 105px #FFF , 992px 546px #FFF , 734px 1182px #FFF , 1151px 284px #FFF , 329px 183px #FFF , 1884px 1742px #FFF , 567px 967px #FFF , 808px 112px #FFF , 1401px 1860px #FFF , 1278px 424px #FFF , 1277px 1444px #FFF , 1144px 1968px #FFF , 771px 305px #FFF , 982px 1201px #FFF , 620px 1968px #FFF , 445px 150px #FFF , 554px 863px #FFF , 719px 1799px #FFF , 299px 1554px #FFF , 388px 1065px #FFF , 438px 1135px #FFF , 1802px 1028px #FFF , 1835px 398px #FFF , 1394px 292px #FFF , 559px 253px #FFF , 352px 420px #FFF , 1001px 1868px #FFF , 1888px 1146px #FFF , 1468px 64px #FFF , 487px 1897px #FFF , 990px 1387px #FFF , 1693px 1371px #FFF , 1054px 557px #FFF , 534px 372px #FFF , 1614px 1756px #FFF , 1125px 327px #FFF , 160px 1947px #FFF , 841px 628px #FFF , 443px 1774px #FFF , 1716px 1965px #FFF , 204px 956px #FFF , 1609px 675px #FFF , 1778px 1571px #FFF , 645px 513px #FFF , 1394px 338px #FFF , 1749px 1181px #FFF , 1500px 259px #FFF , 288px 812px #FFF , 794px 1541px #FFF , 1123px 1405px #FFF , 521px 655px #FFF , 394px 280px #FFF , 1150px 1889px #FFF , 709px 596px #FFF , 1504px 222px #FFF , 1602px 864px #FFF , 607px 254px #FFF , 941px 1279px #FFF , 145px 192px #FFF , 529px 832px #FFF , 1892px 1878px #FFF , 1406px 656px #FFF , 78px 288px #FFF , 1834px 1852px #FFF , 525px 776px #FFF , 877px 1676px #FFF , 1342px 248px #FFF , 1448px 20px #FFF , 1194px 979px #FFF , 1491px 103px #FFF , 546px 916px #FFF , 1903px 363px #FFF , 436px 1915px #FFF , 869px 1069px #FFF , 677px 1209px #FFF , 1743px 1298px #FFF , 1281px 464px #FFF , 1882px 897px #FFF , 1832px 1330px #FFF , 488px 742px #FFF , 557px 1874px #FFF , 829px 416px #FFF , 458px 1834px #FFF , 123px 157px #FFF , 742px 255px #FFF , 475px 30px #FFF , 1975px 1615px #FFF , 876px 1251px #FFF , 1461px 245px #FFF , 968px 185px #FFF , 1798px 1355px #FFF , 1716px 484px #FFF , 984px 178px #FFF , 619px 1344px #FFF , 1130px 1429px #FFF , 1672px 36px #FFF , 383px 544px #FFF , 1623px 1711px #FFF , 1632px 663px #FFF , 1891px 20px #FFF , 1322px 365px #FFF , 1157px 199px #FFF , 904px 512px #FFF , 653px 139px #FFF , 869px 1737px #FFF , 7px 489px #FFF , 795px 919px #FFF , 880px 1441px #FFF , 542px 269px #FFF , 1552px 771px #FFF , 1007px 1003px #FFF , 630px 453px #FFF , 746px 1303px #FFF , 1365px 1977px #FFF , 1045px 544px #FFF , 1422px 346px #FFF , 234px 270px #FFF , 912px 1289px #FFF , 1039px 1541px #FFF , 1918px 69px #FFF , 789px 1940px #FFF , 330px 1174px #FFF , 1358px 116px #FFF , 1123px 792px #FFF , 1521px 1672px #FFF , 1363px 1982px #FFF , 1215px 1432px #FFF , 1450px 1640px #FFF , 465px 976px #FFF , 517px 1306px #FFF , 557px 870px #FFF , 1849px 1104px #FFF , 784px 1460px #FFF , 1439px 1384px #FFF , 867px 618px #FFF , 597px 922px #FFF , 1106px 273px #FFF , 1824px 284px #FFF , 716px 842px #FFF , 234px 1940px #FFF , 454px 1749px #FFF , 144px 929px #FFF , 462px 1414px #FFF , 1074px 1231px #FFF , 971px 1170px #FFF , 549px 1242px #FFF , 1199px 1427px #FFF , 1035px 921px #FFF , 1854px 346px #FFF , 774px 418px #FFF , 796px 621px #FFF , 1172px 670px #FFF , 1451px 1806px #FFF , 1033px 1497px #FFF , 372px 1816px #FFF , 809px 626px #FFF , 143px 1902px #FFF , 409px 685px #FFF , 44px 389px #FFF , 1406px 1634px #FFF , 1925px 317px #FFF , 602px 1085px #FFF , 1522px 261px #FFF , 381px 1243px #FFF , 112px 1798px #FFF , 707px 1142px #FFF , 1814px 407px #FFF , 1472px 710px #FFF , 1283px 1498px #FFF , 1191px 1671px #FFF , 1503px 457px #FFF , 1993px 1487px #FFF , 1437px 1205px #FFF , 103px 1073px #FFF , 1618px 1806px #FFF , 1528px 1247px #FFF , 1807px 1413px #FFF , 829px 1069px #FFF , 537px 498px #FFF , 1367px 857px #FFF , 1124px 1908px #FFF , 725px 392px #FFF , 75px 1608px #FFF , 1548px 397px #FFF , 1762px 182px #FFF , 635px 803px #FFF , 1790px 1591px #FFF , 1472px 384px #FFF , 908px 1408px #FFF , 1775px 1796px #FFF , 1463px 513px #FFF , 921px 740px #FFF , 825px 1662px #FFF , 214px 1125px #FFF , 1049px 250px #FFF , 1997px 238px #FFF , 1059px 1551px #FFF , 348px 1594px #FFF , 841px 323px #FFF , 1956px 987px #FFF , 241px 146px #FFF , 1845px 1141px #FFF , 342px 455px #FFF , 1691px 1526px #FFF , 1995px 1858px #FFF , 1762px 1040px #FFF , 979px 310px #FFF , 1277px 1752px #FFF , 1177px 1243px #FFF , 1422px 1894px #FFF , 799px 813px #FFF , 259px 1861px #FFF , 807px 352px #FFF , 1318px 1171px #FFF , 1477px 888px #FFF , 1470px 1343px #FFF , 1624px 143px #FFF , 122px 353px #FFF , 1377px 616px #FFF , 283px 1607px #FFF , 414px 219px #FFF , 1948px 378px #FFF , 1463px 957px #FFF , 144px 1312px #FFF , 1002px 1475px #FFF , 465px 263px #FFF , 1622px 1256px #FFF , 1432px 117px #FFF , 838px 212px #FFF , 136px 1880px #FFF , 1796px 161px #FFF , 703px 719px #FFF , 1353px 50px #FFF , 1068px 1935px #FFF , 384px 731px #FFF , 175px 1992px #FFF , 1937px 1226px #FFF , 422px 1980px #FFF , 1889px 600px #FFF , 766px 352px #FFF , 1763px 455px #FFF , 870px 1687px #FFF , 1286px 1123px #FFF , 1620px 1756px #FFF , 1532px 1343px #FFF , 1264px 416px #FFF , 1815px 869px #FFF , 1230px 1883px #FFF , 1240px 1940px #FFF , 126px 114px #FFF , 1433px 1931px #FFF , 763px 1176px #FFF , 1143px 1303px #FFF , 618px 1629px #FFF , 1401px 848px #FFF , 542px 1047px #FFF , 1010px 367px #FFF , 611px 478px #FFF , 876px 1313px #FFF , 675px 708px #FFF , 533px 822px #FFF , 1398px 1517px #FFF , 1510px 570px #FFF , 965px 3px #FFF , 537px 414px #FFF , 211px 1099px #FFF , 1224px 756px #FFF , 1505px 1341px #FFF , 753px 1200px #FFF , 1159px 1160px #FFF , 93px 271px #FFF , 335px 453px #FFF , 668px 1342px #FFF , 1126px 1661px #FFF , 1632px 904px #FFF , 1574px 1109px #FFF , 1632px 1932px #FFF , 1128px 630px #FFF , 641px 529px #FFF , 1836px 1790px #FFF , 146px 1354px #FFF , 162px 738px #FFF , 820px 1286px #FFF , 1630px 1026px #FFF , 1141px 211px #FFF , 1560px 1230px #FFF , 1651px 1450px #FFF , 1751px 76px #FFF , 1526px 1577px #FFF , 1063px 157px #FFF , 941px 717px #FFF , 1526px 885px #FFF , 1229px 1378px #FFF , 1314px 532px #FFF , 929px 577px #FFF , 42px 543px #FFF , 1259px 739px #FFF , 1660px 1637px #FFF , 1119px 1171px #FFF , 394px 2000px #FFF , 1589px 510px #FFF , 1463px 51px #FFF , 1362px 1739px #FFF , 448px 287px #FFF , 722px 137px #FFF , 1954px 541px #FFF , 1112px 1662px #FFF , 17px 1201px #FFF , 399px 297px #FFF , 1985px 439px #FFF , 1817px 1534px #FFF , 1986px 904px #FFF , 1858px 1325px #FFF , 39px 958px #FFF , 827px 1236px #FFF , 446px 1557px #FFF , 770px 1969px #FFF , 1561px 661px #FFF , 361px 1938px #FFF , 1582px 613px #FFF , 1434px 1258px #FFF , 1491px 984px #FFF , 1337px 1815px #FFF , 839px 1164px #FFF , 1847px 872px #FFF , 1101px 837px #FFF , 1057px 345px #FFF , 1264px 1878px #FFF , 1866px 1484px #FFF , 710px 1752px #FFF , 62px 686px #FFF , 1342px 1835px #FFF , 1710px 277px #FFF , 1446px 1672px #FFF , 1931px 500px #FFF , 795px 1165px #FFF , 942px 383px #FFF , 572px 1343px #FFF , 1927px 1804px #FFF , 1386px 560px #FFF , 423px 1959px #FFF , 25px 840px #FFF , 1853px 1061px #FFF , 738px 710px #FFF , 714px 394px #FFF , 1143px 942px #FFF , 1138px 1460px #FFF , 337px 367px #FFF , 1400px 1825px #FFF , 247px 94px #FFF , 169px 620px #FFF , 592px 1807px #FFF , 587px 767px #FFF , 1754px 136px #FFF , 270px 824px #FFF , 1618px 1474px #FFF , 369px 1897px #FFF , 1424px 1716px #FFF , 1975px 160px #FFF , 1683px 60px #FFF , 553px 1415px #FFF , 1240px 1693px #FFF , 56px 1761px #FFF , 250px 1657px #FFF , 657px 1922px #FFF , 176px 1345px #FFF , 1886px 1630px #FFF , 182px 1668px #FFF , 1337px 1964px #FFF , 1146px 221px #FFF , 209px 1857px #FFF , 822px 1755px #FFF , 671px 741px #FFF , 1313px 1861px #FFF , 366px 297px #FFF , 1757px 1396px #FFF , 434px 1773px #FFF , 790px 1230px #FFF , 16px 848px #FFF , 261px 53px #FFF , 1195px 850px #FFF , 461px 203px #FFF , 825px 969px #FFF , 1463px 1265px #FFF , 1600px 262px #FFF , 1695px 990px #FFF , 1019px 1077px #FFF , 642px 791px #FFF , 108px 916px #FFF , 4px 195px #FFF , 1488px 514px #FFF , 1081px 907px #FFF , 347px 1553px #FFF , 108px 336px #FFF , 24px 1451px #FFF , 1564px 1842px #FFF , 1350px 869px #FFF , 1398px 865px #FFF , 819px 84px #FFF , 329px 1393px #FFF , 1698px 1899px #FFF , 602px 1757px #FFF , 61px 496px #FFF , 531px 730px #FFF , 1651px 599px #FFF , 1110px 507px #FFF , 1117px 265px #FFF , 1912px 1902px #FFF , 1693px 405px #FFF , 622px 1116px #FFF , 1041px 908px #FFF , 306px 913px #FFF , 12px 59px #FFF , 358px 80px #FFF , 1836px 1251px #FFF , 265px 694px #FFF , 1399px 1282px #FFF , 1250px 1901px #FFF , 364px 1960px #FFF , 812px 286px #FFF , 1407px 339px #FFF , 1729px 1853px #FFF , 1922px 642px #FFF , 1078px 1px #FFF , 943px 956px #FFF , 865px 1817px #FFF , 1738px 247px #FFF , 1831px 1113px #FFF , 470px 738px #FFF , 1662px 110px #FFF , 934px 1512px #FFF , 1841px 380px #FFF , 156px 641px #FFF , 364px 392px #FFF , 384px 1944px #FFF , 1132px 1049px #FFF , 1052px 94px #FFF , 998px 1622px #FFF , 1589px 434px #FFF , 552px 663px #FFF , 1063px 537px #FFF , 1364px 1566px #FFF , 1060px 76px #FFF , 505px 1724px #FFF , 1179px 1120px #FFF , 952px 1678px #FFF , 28px 388px #FFF , 388px 660px #FFF , 938px 1460px #FFF , 885px 677px #FFF , 714px 1815px #FFF , 647px 1361px #FFF , 1546px 1753px #FFF , 1631px 204px #FFF , 3px 767px #FFF , 1404px 781px #FFF , 634px 350px #FFF , 868px 1929px #FFF , 1486px 862px #FFF , 1353px 706px #FFF , 216px 386px #FFF , 26px 1201px #FFF , 118px 718px #FFF , 928px 83px #FFF , 469px 1626px #FFF , 1194px 1955px #FFF , 217px 1264px #FFF , 1083px 549px #FFF , 1227px 1029px #FFF , 1244px 1331px #FFF , 1242px 186px #FFF , 1269px 59px #FFF , 1912px 823px #FFF , 1459px 1960px #FFF , 27px 977px #FFF , 1588px 1496px #FFF , 1417px 160px #FFF , 1888px 1812px #FFF , 1928px 1900px #FFF , 748px 1530px #FFF , 573px 315px #FFF , 1888px 64px #FFF , 433px 866px #FFF , 1267px 1572px #FFF , 1268px 1698px #FFF , 1794px 613px #FFF , 123px 1319px #FFF , 1774px 1084px #FFF , 654px 4px #FFF , 1757px 1852px #FFF , 941px 968px #FFF , 1170px 1877px #FFF , 1358px 510px #FFF , 1769px 927px #FFF , 310px 932px #FFF , 1708px 1427px #FFF , 1878px 1768px #FFF , 758px 1437px #FFF , 1019px 1732px #FFF , 12px 789px #FFF , 120px 1222px #FFF , 340px 1023px #FFF , 1561px 1349px #FFF , 27px 1550px #FFF , 1733px 1779px #FFF , 6px 1530px #FFF , 813px 342px #FFF , 966px 1024px #FFF , 1954px 1096px #FFF , 691px 1204px #FFF , 1118px 128px #FFF , 440px 147px #FFF , 1478px 779px #FFF , 1884px 1075px #FFF , 1308px 217px #FFF , 749px 462px #FFF , 57px 794px #FFF , 1286px 109px #FFF , 1950px 918px #FFF , 1031px 1471px #FFF , 206px 1931px #FFF , 312px 671px #FFF , 283px 1681px #FFF , 1982px 956px #FFF , 113px 747px #FFF , 1979px 1521px #FFF , 38px 543px #FFF , 1488px 1798px #FFF , 1673px 150px #FFF , 1680px 65px #FFF , 490px 1128px #FFF , 864px 1978px #FFF , 281px 928px #FFF , 772px 1369px #FFF , 1974px 338px #FFF , 1242px 846px #FFF , 649px 29px #FFF , 1819px 1761px #FFF , 746px 999px #FFF , 1737px 742px #FFF , 454px 480px #FFF , 899px 433px #FFF , 1223px 545px #FFF , 1984px 1992px #FFF , 1112px 1495px #FFF , 1524px 1687px #FFF , 1698px 1162px #FFF , 1322px 1024px #FFF , 84px 335px #FFF , 473px 68px #FFF , 1664px 797px #FFF , 524px 894px #FFF , 989px 1633px #FFF , 1993px 1007px #FFF , 242px 1100px #FFF , 376px 1768px #FFF , 1759px 1555px #FFF , 302px 1347px #FFF , 1187px 1146px #FFF , 122px 8px #FFF , 467px 298px #FFF , 132px 309px #FFF , 1931px 150px #FFF , 73px 334px #FFF , 1040px 897px #FFF , 1586px 407px #FFF , 1226px 1328px #FFF , 955px 959px #FFF , 1568px 1437px #FFF , 514px 827px #FFF , 740px 427px #FFF , 944px 902px #FFF , 1181px 1999px #FFF , 8px 1452px #FFF , 516px 1204px #FFF , 131px 377px #FFF , 267px 407px #FFF , 1048px 1960px #FFF , 319px 1614px #FFF , 1909px 1508px #FFF , 1047px 981px #FFF , 705px 906px #FFF , 1083px 489px #FFF , 960px 274px #FFF , 1558px 1321px #FFF , 686px 1144px #FFF , 1859px 1px #FFF , 1342px 599px #FFF , 187px 1909px #FFF , 1960px 655px #FFF , 731px 819px #FFF , 1506px 446px #FFF , 1207px 490px #FFF , 1235px 1899px #FFF , 1672px 83px #FFF , 212px 1759px #FFF , 1328px 734px #FFF , 250px 958px #FFF , 709px 151px #FFF , 723px 1206px #FFF , 1199px 452px #FFF , 1637px 214px #FFF , 1380px 1243px #FFF , 489px 1452px #FFF , 1014px 1810px #FFF , 1225px 1882px #FFF , 1526px 1839px #FFF , 428px 1196px #FFF , 1414px 692px #FFF , 1602px 1042px #FFF , 1060px 1247px #FFF , 968px 1718px #FFF , 585px 1178px #FFF , 1497px 636px #FFF , 1921px 1377px #FFF , 163px 1776px #FFF , 1208px 634px #FFF , 495px 585px #FFF , 683px 1425px #FFF , 628px 1454px #FFF , 521px 1542px #FFF , 154px 761px #FFF , 1772px 156px #FFF , 1616px 320px #FFF , 1714px 409px #FFF , 660px 1377px #FFF , 469px 1365px #FFF , 778px 698px #FFF , 1004px 1392px #FFF , 446px 3px #FFF , 474px 1530px #FFF , 1750px 1025px #FFF , 183px 728px #FFF , 1986px 1821px #FFF , 1862px 878px #FFF , 59px 1438px #FFF , 1733px 477px #FFF , 1345px 380px #FFF , 1800px 709px #FFF , 940px 127px #FFF , 298px 591px #FFF , 1204px 452px #FFF , 1320px 642px #FFF , 491px 430px #FFF , 1376px 1111px #FFF , 1978px 985px #FFF , 1052px 423px #FFF , 815px 1433px #FFF , 993px 387px #FFF , 609px 967px #FFF , 1380px 1310px #FFF , 1481px 1571px #FFF , 1982px 1415px #FFF , 1914px 382px #FFF , 1156px 874px #FFF , 1714px 1065px #FFF , 670px 811px #FFF , 1161px 976px #FFF , 1736px 1728px #FFF , 1178px 292px #FFF , 440px 1497px #FFF , 1616px 1345px #FFF , 1726px 1839px #FFF , 629px 837px #FFF , 1905px 683px #FFF , 81px 1656px #FFF , 72px 1359px #FFF , 131px 1075px #FFF , 150px 968px #FFF , 846px 510px #FFF , 94px 1273px #FFF , 1466px 622px #FFF , 6px 1478px #FFF , 1095px 1372px #FFF , 1879px 1487px #FFF , 1840px 234px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  
  overflow: hidden;
  
  z-index:-2;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1518px 1421px #FFF , 94px 1700px #FFF , 388px 1154px #FFF , 819px 428px #FFF , 1707px 664px #FFF , 1099px 849px #FFF , 1510px 387px #FFF , 604px 615px #FFF , 499px 1333px #FFF , 35px 65px #FFF , 1228px 1336px #FFF , 252px 1026px #FFF , 1801px 876px #FFF , 1725px 1890px #FFF , 935px 1581px #FFF , 409px 532px #FFF , 426px 621px #FFF , 1007px 1197px #FFF , 1874px 1250px #FFF , 272px 1121px #FFF , 261px 170px #FFF , 106px 1956px #FFF , 995px 1659px #FFF , 1436px 207px #FFF , 822px 105px #FFF , 992px 546px #FFF , 734px 1182px #FFF , 1151px 284px #FFF , 329px 183px #FFF , 1884px 1742px #FFF , 567px 967px #FFF , 808px 112px #FFF , 1401px 1860px #FFF , 1278px 424px #FFF , 1277px 1444px #FFF , 1144px 1968px #FFF , 771px 305px #FFF , 982px 1201px #FFF , 620px 1968px #FFF , 445px 150px #FFF , 554px 863px #FFF , 719px 1799px #FFF , 299px 1554px #FFF , 388px 1065px #FFF , 438px 1135px #FFF , 1802px 1028px #FFF , 1835px 398px #FFF , 1394px 292px #FFF , 559px 253px #FFF , 352px 420px #FFF , 1001px 1868px #FFF , 1888px 1146px #FFF , 1468px 64px #FFF , 487px 1897px #FFF , 990px 1387px #FFF , 1693px 1371px #FFF , 1054px 557px #FFF , 534px 372px #FFF , 1614px 1756px #FFF , 1125px 327px #FFF , 160px 1947px #FFF , 841px 628px #FFF , 443px 1774px #FFF , 1716px 1965px #FFF , 204px 956px #FFF , 1609px 675px #FFF , 1778px 1571px #FFF , 645px 513px #FFF , 1394px 338px #FFF , 1749px 1181px #FFF , 1500px 259px #FFF , 288px 812px #FFF , 794px 1541px #FFF , 1123px 1405px #FFF , 521px 655px #FFF , 394px 280px #FFF , 1150px 1889px #FFF , 709px 596px #FFF , 1504px 222px #FFF , 1602px 864px #FFF , 607px 254px #FFF , 941px 1279px #FFF , 145px 192px #FFF , 529px 832px #FFF , 1892px 1878px #FFF , 1406px 656px #FFF , 78px 288px #FFF , 1834px 1852px #FFF , 525px 776px #FFF , 877px 1676px #FFF , 1342px 248px #FFF , 1448px 20px #FFF , 1194px 979px #FFF , 1491px 103px #FFF , 546px 916px #FFF , 1903px 363px #FFF , 436px 1915px #FFF , 869px 1069px #FFF , 677px 1209px #FFF , 1743px 1298px #FFF , 1281px 464px #FFF , 1882px 897px #FFF , 1832px 1330px #FFF , 488px 742px #FFF , 557px 1874px #FFF , 829px 416px #FFF , 458px 1834px #FFF , 123px 157px #FFF , 742px 255px #FFF , 475px 30px #FFF , 1975px 1615px #FFF , 876px 1251px #FFF , 1461px 245px #FFF , 968px 185px #FFF , 1798px 1355px #FFF , 1716px 484px #FFF , 984px 178px #FFF , 619px 1344px #FFF , 1130px 1429px #FFF , 1672px 36px #FFF , 383px 544px #FFF , 1623px 1711px #FFF , 1632px 663px #FFF , 1891px 20px #FFF , 1322px 365px #FFF , 1157px 199px #FFF , 904px 512px #FFF , 653px 139px #FFF , 869px 1737px #FFF , 7px 489px #FFF , 795px 919px #FFF , 880px 1441px #FFF , 542px 269px #FFF , 1552px 771px #FFF , 1007px 1003px #FFF , 630px 453px #FFF , 746px 1303px #FFF , 1365px 1977px #FFF , 1045px 544px #FFF , 1422px 346px #FFF , 234px 270px #FFF , 912px 1289px #FFF , 1039px 1541px #FFF , 1918px 69px #FFF , 789px 1940px #FFF , 330px 1174px #FFF , 1358px 116px #FFF , 1123px 792px #FFF , 1521px 1672px #FFF , 1363px 1982px #FFF , 1215px 1432px #FFF , 1450px 1640px #FFF , 465px 976px #FFF , 517px 1306px #FFF , 557px 870px #FFF , 1849px 1104px #FFF , 784px 1460px #FFF , 1439px 1384px #FFF , 867px 618px #FFF , 597px 922px #FFF , 1106px 273px #FFF , 1824px 284px #FFF , 716px 842px #FFF , 234px 1940px #FFF , 454px 1749px #FFF , 144px 929px #FFF , 462px 1414px #FFF , 1074px 1231px #FFF , 971px 1170px #FFF , 549px 1242px #FFF , 1199px 1427px #FFF , 1035px 921px #FFF , 1854px 346px #FFF , 774px 418px #FFF , 796px 621px #FFF , 1172px 670px #FFF , 1451px 1806px #FFF , 1033px 1497px #FFF , 372px 1816px #FFF , 809px 626px #FFF , 143px 1902px #FFF , 409px 685px #FFF , 44px 389px #FFF , 1406px 1634px #FFF , 1925px 317px #FFF , 602px 1085px #FFF , 1522px 261px #FFF , 381px 1243px #FFF , 112px 1798px #FFF , 707px 1142px #FFF , 1814px 407px #FFF , 1472px 710px #FFF , 1283px 1498px #FFF , 1191px 1671px #FFF , 1503px 457px #FFF , 1993px 1487px #FFF , 1437px 1205px #FFF , 103px 1073px #FFF , 1618px 1806px #FFF , 1528px 1247px #FFF , 1807px 1413px #FFF , 829px 1069px #FFF , 537px 498px #FFF , 1367px 857px #FFF , 1124px 1908px #FFF , 725px 392px #FFF , 75px 1608px #FFF , 1548px 397px #FFF , 1762px 182px #FFF , 635px 803px #FFF , 1790px 1591px #FFF , 1472px 384px #FFF , 908px 1408px #FFF , 1775px 1796px #FFF , 1463px 513px #FFF , 921px 740px #FFF , 825px 1662px #FFF , 214px 1125px #FFF , 1049px 250px #FFF , 1997px 238px #FFF , 1059px 1551px #FFF , 348px 1594px #FFF , 841px 323px #FFF , 1956px 987px #FFF , 241px 146px #FFF , 1845px 1141px #FFF , 342px 455px #FFF , 1691px 1526px #FFF , 1995px 1858px #FFF , 1762px 1040px #FFF , 979px 310px #FFF , 1277px 1752px #FFF , 1177px 1243px #FFF , 1422px 1894px #FFF , 799px 813px #FFF , 259px 1861px #FFF , 807px 352px #FFF , 1318px 1171px #FFF , 1477px 888px #FFF , 1470px 1343px #FFF , 1624px 143px #FFF , 122px 353px #FFF , 1377px 616px #FFF , 283px 1607px #FFF , 414px 219px #FFF , 1948px 378px #FFF , 1463px 957px #FFF , 144px 1312px #FFF , 1002px 1475px #FFF , 465px 263px #FFF , 1622px 1256px #FFF , 1432px 117px #FFF , 838px 212px #FFF , 136px 1880px #FFF , 1796px 161px #FFF , 703px 719px #FFF , 1353px 50px #FFF , 1068px 1935px #FFF , 384px 731px #FFF , 175px 1992px #FFF , 1937px 1226px #FFF , 422px 1980px #FFF , 1889px 600px #FFF , 766px 352px #FFF , 1763px 455px #FFF , 870px 1687px #FFF , 1286px 1123px #FFF , 1620px 1756px #FFF , 1532px 1343px #FFF , 1264px 416px #FFF , 1815px 869px #FFF , 1230px 1883px #FFF , 1240px 1940px #FFF , 126px 114px #FFF , 1433px 1931px #FFF , 763px 1176px #FFF , 1143px 1303px #FFF , 618px 1629px #FFF , 1401px 848px #FFF , 542px 1047px #FFF , 1010px 367px #FFF , 611px 478px #FFF , 876px 1313px #FFF , 675px 708px #FFF , 533px 822px #FFF , 1398px 1517px #FFF , 1510px 570px #FFF , 965px 3px #FFF , 537px 414px #FFF , 211px 1099px #FFF , 1224px 756px #FFF , 1505px 1341px #FFF , 753px 1200px #FFF , 1159px 1160px #FFF , 93px 271px #FFF , 335px 453px #FFF , 668px 1342px #FFF , 1126px 1661px #FFF , 1632px 904px #FFF , 1574px 1109px #FFF , 1632px 1932px #FFF , 1128px 630px #FFF , 641px 529px #FFF , 1836px 1790px #FFF , 146px 1354px #FFF , 162px 738px #FFF , 820px 1286px #FFF , 1630px 1026px #FFF , 1141px 211px #FFF , 1560px 1230px #FFF , 1651px 1450px #FFF , 1751px 76px #FFF , 1526px 1577px #FFF , 1063px 157px #FFF , 941px 717px #FFF , 1526px 885px #FFF , 1229px 1378px #FFF , 1314px 532px #FFF , 929px 577px #FFF , 42px 543px #FFF , 1259px 739px #FFF , 1660px 1637px #FFF , 1119px 1171px #FFF , 394px 2000px #FFF , 1589px 510px #FFF , 1463px 51px #FFF , 1362px 1739px #FFF , 448px 287px #FFF , 722px 137px #FFF , 1954px 541px #FFF , 1112px 1662px #FFF , 17px 1201px #FFF , 399px 297px #FFF , 1985px 439px #FFF , 1817px 1534px #FFF , 1986px 904px #FFF , 1858px 1325px #FFF , 39px 958px #FFF , 827px 1236px #FFF , 446px 1557px #FFF , 770px 1969px #FFF , 1561px 661px #FFF , 361px 1938px #FFF , 1582px 613px #FFF , 1434px 1258px #FFF , 1491px 984px #FFF , 1337px 1815px #FFF , 839px 1164px #FFF , 1847px 872px #FFF , 1101px 837px #FFF , 1057px 345px #FFF , 1264px 1878px #FFF , 1866px 1484px #FFF , 710px 1752px #FFF , 62px 686px #FFF , 1342px 1835px #FFF , 1710px 277px #FFF , 1446px 1672px #FFF , 1931px 500px #FFF , 795px 1165px #FFF , 942px 383px #FFF , 572px 1343px #FFF , 1927px 1804px #FFF , 1386px 560px #FFF , 423px 1959px #FFF , 25px 840px #FFF , 1853px 1061px #FFF , 738px 710px #FFF , 714px 394px #FFF , 1143px 942px #FFF , 1138px 1460px #FFF , 337px 367px #FFF , 1400px 1825px #FFF , 247px 94px #FFF , 169px 620px #FFF , 592px 1807px #FFF , 587px 767px #FFF , 1754px 136px #FFF , 270px 824px #FFF , 1618px 1474px #FFF , 369px 1897px #FFF , 1424px 1716px #FFF , 1975px 160px #FFF , 1683px 60px #FFF , 553px 1415px #FFF , 1240px 1693px #FFF , 56px 1761px #FFF , 250px 1657px #FFF , 657px 1922px #FFF , 176px 1345px #FFF , 1886px 1630px #FFF , 182px 1668px #FFF , 1337px 1964px #FFF , 1146px 221px #FFF , 209px 1857px #FFF , 822px 1755px #FFF , 671px 741px #FFF , 1313px 1861px #FFF , 366px 297px #FFF , 1757px 1396px #FFF , 434px 1773px #FFF , 790px 1230px #FFF , 16px 848px #FFF , 261px 53px #FFF , 1195px 850px #FFF , 461px 203px #FFF , 825px 969px #FFF , 1463px 1265px #FFF , 1600px 262px #FFF , 1695px 990px #FFF , 1019px 1077px #FFF , 642px 791px #FFF , 108px 916px #FFF , 4px 195px #FFF , 1488px 514px #FFF , 1081px 907px #FFF , 347px 1553px #FFF , 108px 336px #FFF , 24px 1451px #FFF , 1564px 1842px #FFF , 1350px 869px #FFF , 1398px 865px #FFF , 819px 84px #FFF , 329px 1393px #FFF , 1698px 1899px #FFF , 602px 1757px #FFF , 61px 496px #FFF , 531px 730px #FFF , 1651px 599px #FFF , 1110px 507px #FFF , 1117px 265px #FFF , 1912px 1902px #FFF , 1693px 405px #FFF , 622px 1116px #FFF , 1041px 908px #FFF , 306px 913px #FFF , 12px 59px #FFF , 358px 80px #FFF , 1836px 1251px #FFF , 265px 694px #FFF , 1399px 1282px #FFF , 1250px 1901px #FFF , 364px 1960px #FFF , 812px 286px #FFF , 1407px 339px #FFF , 1729px 1853px #FFF , 1922px 642px #FFF , 1078px 1px #FFF , 943px 956px #FFF , 865px 1817px #FFF , 1738px 247px #FFF , 1831px 1113px #FFF , 470px 738px #FFF , 1662px 110px #FFF , 934px 1512px #FFF , 1841px 380px #FFF , 156px 641px #FFF , 364px 392px #FFF , 384px 1944px #FFF , 1132px 1049px #FFF , 1052px 94px #FFF , 998px 1622px #FFF , 1589px 434px #FFF , 552px 663px #FFF , 1063px 537px #FFF , 1364px 1566px #FFF , 1060px 76px #FFF , 505px 1724px #FFF , 1179px 1120px #FFF , 952px 1678px #FFF , 28px 388px #FFF , 388px 660px #FFF , 938px 1460px #FFF , 885px 677px #FFF , 714px 1815px #FFF , 647px 1361px #FFF , 1546px 1753px #FFF , 1631px 204px #FFF , 3px 767px #FFF , 1404px 781px #FFF , 634px 350px #FFF , 868px 1929px #FFF , 1486px 862px #FFF , 1353px 706px #FFF , 216px 386px #FFF , 26px 1201px #FFF , 118px 718px #FFF , 928px 83px #FFF , 469px 1626px #FFF , 1194px 1955px #FFF , 217px 1264px #FFF , 1083px 549px #FFF , 1227px 1029px #FFF , 1244px 1331px #FFF , 1242px 186px #FFF , 1269px 59px #FFF , 1912px 823px #FFF , 1459px 1960px #FFF , 27px 977px #FFF , 1588px 1496px #FFF , 1417px 160px #FFF , 1888px 1812px #FFF , 1928px 1900px #FFF , 748px 1530px #FFF , 573px 315px #FFF , 1888px 64px #FFF , 433px 866px #FFF , 1267px 1572px #FFF , 1268px 1698px #FFF , 1794px 613px #FFF , 123px 1319px #FFF , 1774px 1084px #FFF , 654px 4px #FFF , 1757px 1852px #FFF , 941px 968px #FFF , 1170px 1877px #FFF , 1358px 510px #FFF , 1769px 927px #FFF , 310px 932px #FFF , 1708px 1427px #FFF , 1878px 1768px #FFF , 758px 1437px #FFF , 1019px 1732px #FFF , 12px 789px #FFF , 120px 1222px #FFF , 340px 1023px #FFF , 1561px 1349px #FFF , 27px 1550px #FFF , 1733px 1779px #FFF , 6px 1530px #FFF , 813px 342px #FFF , 966px 1024px #FFF , 1954px 1096px #FFF , 691px 1204px #FFF , 1118px 128px #FFF , 440px 147px #FFF , 1478px 779px #FFF , 1884px 1075px #FFF , 1308px 217px #FFF , 749px 462px #FFF , 57px 794px #FFF , 1286px 109px #FFF , 1950px 918px #FFF , 1031px 1471px #FFF , 206px 1931px #FFF , 312px 671px #FFF , 283px 1681px #FFF , 1982px 956px #FFF , 113px 747px #FFF , 1979px 1521px #FFF , 38px 543px #FFF , 1488px 1798px #FFF , 1673px 150px #FFF , 1680px 65px #FFF , 490px 1128px #FFF , 864px 1978px #FFF , 281px 928px #FFF , 772px 1369px #FFF , 1974px 338px #FFF , 1242px 846px #FFF , 649px 29px #FFF , 1819px 1761px #FFF , 746px 999px #FFF , 1737px 742px #FFF , 454px 480px #FFF , 899px 433px #FFF , 1223px 545px #FFF , 1984px 1992px #FFF , 1112px 1495px #FFF , 1524px 1687px #FFF , 1698px 1162px #FFF , 1322px 1024px #FFF , 84px 335px #FFF , 473px 68px #FFF , 1664px 797px #FFF , 524px 894px #FFF , 989px 1633px #FFF , 1993px 1007px #FFF , 242px 1100px #FFF , 376px 1768px #FFF , 1759px 1555px #FFF , 302px 1347px #FFF , 1187px 1146px #FFF , 122px 8px #FFF , 467px 298px #FFF , 132px 309px #FFF , 1931px 150px #FFF , 73px 334px #FFF , 1040px 897px #FFF , 1586px 407px #FFF , 1226px 1328px #FFF , 955px 959px #FFF , 1568px 1437px #FFF , 514px 827px #FFF , 740px 427px #FFF , 944px 902px #FFF , 1181px 1999px #FFF , 8px 1452px #FFF , 516px 1204px #FFF , 131px 377px #FFF , 267px 407px #FFF , 1048px 1960px #FFF , 319px 1614px #FFF , 1909px 1508px #FFF , 1047px 981px #FFF , 705px 906px #FFF , 1083px 489px #FFF , 960px 274px #FFF , 1558px 1321px #FFF , 686px 1144px #FFF , 1859px 1px #FFF , 1342px 599px #FFF , 187px 1909px #FFF , 1960px 655px #FFF , 731px 819px #FFF , 1506px 446px #FFF , 1207px 490px #FFF , 1235px 1899px #FFF , 1672px 83px #FFF , 212px 1759px #FFF , 1328px 734px #FFF , 250px 958px #FFF , 709px 151px #FFF , 723px 1206px #FFF , 1199px 452px #FFF , 1637px 214px #FFF , 1380px 1243px #FFF , 489px 1452px #FFF , 1014px 1810px #FFF , 1225px 1882px #FFF , 1526px 1839px #FFF , 428px 1196px #FFF , 1414px 692px #FFF , 1602px 1042px #FFF , 1060px 1247px #FFF , 968px 1718px #FFF , 585px 1178px #FFF , 1497px 636px #FFF , 1921px 1377px #FFF , 163px 1776px #FFF , 1208px 634px #FFF , 495px 585px #FFF , 683px 1425px #FFF , 628px 1454px #FFF , 521px 1542px #FFF , 154px 761px #FFF , 1772px 156px #FFF , 1616px 320px #FFF , 1714px 409px #FFF , 660px 1377px #FFF , 469px 1365px #FFF , 778px 698px #FFF , 1004px 1392px #FFF , 446px 3px #FFF , 474px 1530px #FFF , 1750px 1025px #FFF , 183px 728px #FFF , 1986px 1821px #FFF , 1862px 878px #FFF , 59px 1438px #FFF , 1733px 477px #FFF , 1345px 380px #FFF , 1800px 709px #FFF , 940px 127px #FFF , 298px 591px #FFF , 1204px 452px #FFF , 1320px 642px #FFF , 491px 430px #FFF , 1376px 1111px #FFF , 1978px 985px #FFF , 1052px 423px #FFF , 815px 1433px #FFF , 993px 387px #FFF , 609px 967px #FFF , 1380px 1310px #FFF , 1481px 1571px #FFF , 1982px 1415px #FFF , 1914px 382px #FFF , 1156px 874px #FFF , 1714px 1065px #FFF , 670px 811px #FFF , 1161px 976px #FFF , 1736px 1728px #FFF , 1178px 292px #FFF , 440px 1497px #FFF , 1616px 1345px #FFF , 1726px 1839px #FFF , 629px 837px #FFF , 1905px 683px #FFF , 81px 1656px #FFF , 72px 1359px #FFF , 131px 1075px #FFF , 150px 968px #FFF , 846px 510px #FFF , 94px 1273px #FFF , 1466px 622px #FFF , 6px 1478px #FFF , 1095px 1372px #FFF , 1879px 1487px #FFF , 1840px 234px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  z-index:-2;
  overflow: hidden;
  background: transparent;
  box-shadow: 647px 1716px #FFF , 321px 1858px #FFF , 464px 952px #FFF , 1127px 1017px #FFF , 579px 1195px #FFF , 1568px 1588px #FFF , 1610px 1354px #FFF , 1512px 836px #FFF , 1296px 1622px #FFF , 1530px 891px #FFF , 1405px 1005px #FFF , 1203px 1082px #FFF , 691px 1929px #FFF , 1408px 1025px #FFF , 195px 948px #FFF , 863px 971px #FFF , 1591px 1592px #FFF , 1136px 1587px #FFF , 491px 75px #FFF , 201px 631px #FFF , 257px 1764px #FFF , 165px 1878px #FFF , 781px 1544px #FFF , 11px 1669px #FFF , 573px 563px #FFF , 1374px 1459px #FFF , 552px 902px #FFF , 698px 1026px #FFF , 438px 4px #FFF , 538px 1675px #FFF , 314px 1452px #FFF , 1463px 1435px #FFF , 1647px 879px #FFF , 1113px 1134px #FFF , 862px 466px #FFF , 8px 1287px #FFF , 711px 1482px #FFF , 1845px 1289px #FFF , 782px 1761px #FFF , 785px 267px #FFF , 168px 781px #FFF , 171px 1800px #FFF , 220px 840px #FFF , 998px 1557px #FFF , 1516px 615px #FFF , 624px 1727px #FFF , 1450px 1260px #FFF , 1724px 1245px #FFF , 1263px 258px #FFF , 1165px 455px #FFF , 211px 1893px #FFF , 1403px 1322px #FFF , 1324px 1354px #FFF , 255px 1052px #FFF , 13px 969px #FFF , 53px 1633px #FFF , 1418px 225px #FFF , 378px 298px #FFF , 1452px 827px #FFF , 1386px 867px #FFF , 1893px 1625px #FFF , 1970px 543px #FFF , 80px 1028px #FFF , 293px 1035px #FFF , 416px 1143px #FFF , 365px 785px #FFF , 1776px 774px #FFF , 126px 94px #FFF , 1207px 838px #FFF , 856px 309px #FFF , 1694px 490px #FFF , 1058px 1582px #FFF , 1076px 1113px #FFF , 1690px 439px #FFF , 1227px 873px #FFF , 1491px 2px #FFF , 297px 193px #FFF , 359px 1391px #FFF , 1948px 1751px #FFF , 1598px 1052px #FFF , 190px 600px #FFF , 93px 493px #FFF , 931px 231px #FFF , 852px 149px #FFF , 1540px 1831px #FFF , 503px 424px #FFF , 1902px 1697px #FFF , 1236px 168px #FFF , 1009px 1973px #FFF , 682px 192px #FFF , 171px 1196px #FFF , 289px 995px #FFF , 1520px 1695px #FFF , 1684px 880px #FFF , 1126px 589px #FFF , 1409px 1729px #FFF , 430px 849px #FFF , 835px 551px #FFF , 59px 1796px #FFF , 1525px 1679px #FFF , 466px 763px #FFF , 1097px 1380px #FFF , 861px 1962px #FFF , 1143px 1436px #FFF , 622px 1331px #FFF , 1694px 589px #FFF , 1409px 425px #FFF , 1615px 1669px #FFF , 1269px 1128px #FFF , 59px 1359px #FFF , 1900px 1938px #FFF , 1440px 1192px #FFF , 487px 338px #FFF , 81px 1153px #FFF , 1355px 1074px #FFF , 203px 1297px #FFF , 950px 471px #FFF , 1440px 656px #FFF , 1808px 361px #FFF , 529px 1806px #FFF , 1117px 144px #FFF , 337px 464px #FFF , 1092px 57px #FFF , 1001px 1174px #FFF , 168px 883px #FFF , 910px 29px #FFF , 1372px 1943px #FFF , 1139px 513px #FFF , 1940px 867px #FFF , 703px 892px #FFF , 1987px 1730px #FFF , 535px 1902px #FFF , 190px 457px #FFF , 771px 1324px #FFF , 395px 342px #FFF , 344px 81px #FFF , 911px 1698px #FFF , 486px 776px #FFF , 1119px 1684px #FFF , 435px 1716px #FFF , 829px 1763px #FFF , 433px 1180px #FFF , 1663px 1458px #FFF , 1921px 137px #FFF , 1845px 923px #FFF , 1905px 462px #FFF , 708px 950px #FFF , 1183px 339px #FFF , 34px 1215px #FFF , 1061px 1846px #FFF , 1961px 439px #FFF , 1161px 1275px #FFF , 977px 523px #FFF , 1085px 1151px #FFF , 1996px 75px #FFF , 56px 1902px #FFF , 1692px 1075px #FFF , 1866px 1330px #FFF , 733px 391px #FFF , 177px 671px #FFF , 921px 1480px #FFF , 876px 55px #FFF , 411px 1068px #FFF , 313px 831px #FFF , 1892px 300px #FFF , 890px 24px #FFF , 50px 1191px #FFF , 141px 605px #FFF , 8px 1817px #FFF , 492px 1998px #FFF , 1569px 1818px #FFF , 1255px 1801px #FFF , 1266px 835px #FFF , 1872px 252px #FFF , 1938px 16px #FFF , 1264px 970px #FFF , 1193px 773px #FFF , 1541px 208px #FFF , 1346px 1358px #FFF , 1441px 774px #FFF , 1770px 723px #FFF , 691px 1113px #FFF , 1698px 926px #FFF , 1002px 1176px #FFF , 782px 1838px #FFF , 987px 418px #FFF , 269px 511px #FFF , 431px 1744px #FFF , 1010px 1732px #FFF , 955px 375px #FFF , 521px 143px #FFF , 521px 1568px #FFF , 718px 1577px #FFF , 466px 552px #FFF , 1863px 990px #FFF , 1694px 794px #FFF , 1230px 766px #FFF , 1577px 95px #FFF , 689px 524px #FFF , 584px 1238px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  
  width: 2px;
  overflow: hidden;
  height: 2px;
  z-index:-1;
  background: transparent;
  box-shadow: 647px 1716px #FFF , 321px 1858px #FFF , 464px 952px #FFF , 1127px 1017px #FFF , 579px 1195px #FFF , 1568px 1588px #FFF , 1610px 1354px #FFF , 1512px 836px #FFF , 1296px 1622px #FFF , 1530px 891px #FFF , 1405px 1005px #FFF , 1203px 1082px #FFF , 691px 1929px #FFF , 1408px 1025px #FFF , 195px 948px #FFF , 863px 971px #FFF , 1591px 1592px #FFF , 1136px 1587px #FFF , 491px 75px #FFF , 201px 631px #FFF , 257px 1764px #FFF , 165px 1878px #FFF , 781px 1544px #FFF , 11px 1669px #FFF , 573px 563px #FFF , 1374px 1459px #FFF , 552px 902px #FFF , 698px 1026px #FFF , 438px 4px #FFF , 538px 1675px #FFF , 314px 1452px #FFF , 1463px 1435px #FFF , 1647px 879px #FFF , 1113px 1134px #FFF , 862px 466px #FFF , 8px 1287px #FFF , 711px 1482px #FFF , 1845px 1289px #FFF , 782px 1761px #FFF , 785px 267px #FFF , 168px 781px #FFF , 171px 1800px #FFF , 220px 840px #FFF , 998px 1557px #FFF , 1516px 615px #FFF , 624px 1727px #FFF , 1450px 1260px #FFF , 1724px 1245px #FFF , 1263px 258px #FFF , 1165px 455px #FFF , 211px 1893px #FFF , 1403px 1322px #FFF , 1324px 1354px #FFF , 255px 1052px #FFF , 13px 969px #FFF , 53px 1633px #FFF , 1418px 225px #FFF , 378px 298px #FFF , 1452px 827px #FFF , 1386px 867px #FFF , 1893px 1625px #FFF , 1970px 543px #FFF , 80px 1028px #FFF , 293px 1035px #FFF , 416px 1143px #FFF , 365px 785px #FFF , 1776px 774px #FFF , 126px 94px #FFF , 1207px 838px #FFF , 856px 309px #FFF , 1694px 490px #FFF , 1058px 1582px #FFF , 1076px 1113px #FFF , 1690px 439px #FFF , 1227px 873px #FFF , 1491px 2px #FFF , 297px 193px #FFF , 359px 1391px #FFF , 1948px 1751px #FFF , 1598px 1052px #FFF , 190px 600px #FFF , 93px 493px #FFF , 931px 231px #FFF , 852px 149px #FFF , 1540px 1831px #FFF , 503px 424px #FFF , 1902px 1697px #FFF , 1236px 168px #FFF , 1009px 1973px #FFF , 682px 192px #FFF , 171px 1196px #FFF , 289px 995px #FFF , 1520px 1695px #FFF , 1684px 880px #FFF , 1126px 589px #FFF , 1409px 1729px #FFF , 430px 849px #FFF , 835px 551px #FFF , 59px 1796px #FFF , 1525px 1679px #FFF , 466px 763px #FFF , 1097px 1380px #FFF , 861px 1962px #FFF , 1143px 1436px #FFF , 622px 1331px #FFF , 1694px 589px #FFF , 1409px 425px #FFF , 1615px 1669px #FFF , 1269px 1128px #FFF , 59px 1359px #FFF , 1900px 1938px #FFF , 1440px 1192px #FFF , 487px 338px #FFF , 81px 1153px #FFF , 1355px 1074px #FFF , 203px 1297px #FFF , 950px 471px #FFF , 1440px 656px #FFF , 1808px 361px #FFF , 529px 1806px #FFF , 1117px 144px #FFF , 337px 464px #FFF , 1092px 57px #FFF , 1001px 1174px #FFF , 168px 883px #FFF , 910px 29px #FFF , 1372px 1943px #FFF , 1139px 513px #FFF , 1940px 867px #FFF , 703px 892px #FFF , 1987px 1730px #FFF , 535px 1902px #FFF , 190px 457px #FFF , 771px 1324px #FFF , 395px 342px #FFF , 344px 81px #FFF , 911px 1698px #FFF , 486px 776px #FFF , 1119px 1684px #FFF , 435px 1716px #FFF , 829px 1763px #FFF , 433px 1180px #FFF , 1663px 1458px #FFF , 1921px 137px #FFF , 1845px 923px #FFF , 1905px 462px #FFF , 708px 950px #FFF , 1183px 339px #FFF , 34px 1215px #FFF , 1061px 1846px #FFF , 1961px 439px #FFF , 1161px 1275px #FFF , 977px 523px #FFF , 1085px 1151px #FFF , 1996px 75px #FFF , 56px 1902px #FFF , 1692px 1075px #FFF , 1866px 1330px #FFF , 733px 391px #FFF , 177px 671px #FFF , 921px 1480px #FFF , 876px 55px #FFF , 411px 1068px #FFF , 313px 831px #FFF , 1892px 300px #FFF , 890px 24px #FFF , 50px 1191px #FFF , 141px 605px #FFF , 8px 1817px #FFF , 492px 1998px #FFF , 1569px 1818px #FFF , 1255px 1801px #FFF , 1266px 835px #FFF , 1872px 252px #FFF , 1938px 16px #FFF , 1264px 970px #FFF , 1193px 773px #FFF , 1541px 208px #FFF , 1346px 1358px #FFF , 1441px 774px #FFF , 1770px 723px #FFF , 691px 1113px #FFF , 1698px 926px #FFF , 1002px 1176px #FFF , 782px 1838px #FFF , 987px 418px #FFF , 269px 511px #FFF , 431px 1744px #FFF , 1010px 1732px #FFF , 955px 375px #FFF , 521px 143px #FFF , 521px 1568px #FFF , 718px 1577px #FFF , 466px 552px #FFF , 1863px 990px #FFF , 1694px 794px #FFF , 1230px 766px #FFF , 1577px 95px #FFF , 689px 524px #FFF , 584px 1238px #FFF;
}
#stars3 {
  width: 3px;
  z-index:-2;
  overflow: hidden;
  height: 3px;
  background: transparent;
  box-shadow: 493px 664px #FFF , 1437px 1789px #FFF , 407px 132px #FFF , 962px 679px #FFF , 772px 1694px #FFF , 1304px 1399px #FFF , 1747px 836px #FFF , 1065px 1172px #FFF , 487px 410px #FFF , 506px 1439px #FFF , 1522px 236px #FFF , 819px 392px #FFF , 1253px 1724px #FFF , 501px 332px #FFF , 544px 564px #FFF , 1877px 236px #FFF , 1529px 239px #FFF , 1363px 703px #FFF , 241px 1467px #FFF , 2000px 1321px #FFF , 289px 201px #FFF , 1481px 691px #FFF , 1965px 764px #FFF , 1709px 1729px #FFF , 265px 1133px #FFF , 719px 402px #FFF , 1087px 889px #FFF , 1003px 693px #FFF , 1646px 1457px #FFF , 1851px 187px #FFF , 1168px 913px #FFF , 405px 1005px #FFF , 1622px 748px #FFF , 5px 1992px #FFF , 1120px 1333px #FFF , 474px 1984px #FFF , 499px 815px #FFF , 1775px 1628px #FFF , 1336px 802px #FFF , 1257px 1141px #FFF , 694px 1077px #FFF , 615px 863px #FFF , 942px 94px #FFF , 1163px 1024px #FFF , 954px 473px #FFF , 1725px 1814px #FFF , 1359px 1115px #FFF , 1112px 720px #FFF , 1540px 1835px #FFF , 1574px 1073px #FFF , 1380px 1716px #FFF , 632px 1711px #FFF , 1333px 1156px #FFF , 433px 1898px #FFF , 878px 298px #FFF , 1577px 1189px #FFF , 651px 596px #FFF , 190px 909px #FFF , 1783px 1753px #FFF , 771px 1783px #FFF , 727px 1676px #FFF , 1889px 1764px #FFF , 552px 960px #FFF , 396px 693px #FFF , 1666px 826px #FFF , 314px 334px #FFF , 1337px 1725px #FFF , 390px 909px #FFF , 450px 82px #FFF , 877px 878px #FFF , 2px 1529px #FFF , 986px 830px #FFF , 1556px 1795px #FFF , 506px 138px #FFF , 1593px 802px #FFF , 1847px 939px #FFF , 496px 1222px #FFF , 529px 1528px #FFF , 1598px 530px #FFF , 193px 432px #FFF , 1545px 1510px #FFF , 1608px 71px #FFF , 1168px 1100px #FFF , 1657px 1828px #FFF , 1985px 1264px #FFF , 519px 1743px #FFF , 982px 953px #FFF , 1453px 1975px #FFF , 1156px 1914px #FFF , 912px 1219px #FFF , 465px 365px #FFF , 340px 540px #FFF , 628px 1364px #FFF , 1804px 705px #FFF , 1472px 1996px #FFF , 673px 1296px #FFF , 1263px 1302px #FFF , 1960px 1471px #FFF , 270px 645px #FFF , 1002px 1811px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  overflow: hidden;
  width: 3px;
  z-index:-2;
  height: 3px;
  background: transparent;
  box-shadow: 493px 664px #FFF , 1437px 1789px #FFF , 407px 132px #FFF , 962px 679px #FFF , 772px 1694px #FFF , 1304px 1399px #FFF , 1747px 836px #FFF , 1065px 1172px #FFF , 487px 410px #FFF , 506px 1439px #FFF , 1522px 236px #FFF , 819px 392px #FFF , 1253px 1724px #FFF , 501px 332px #FFF , 544px 564px #FFF , 1877px 236px #FFF , 1529px 239px #FFF , 1363px 703px #FFF , 241px 1467px #FFF , 2000px 1321px #FFF , 289px 201px #FFF , 1481px 691px #FFF , 1965px 764px #FFF , 1709px 1729px #FFF , 265px 1133px #FFF , 719px 402px #FFF , 1087px 889px #FFF , 1003px 693px #FFF , 1646px 1457px #FFF , 1851px 187px #FFF , 1168px 913px #FFF , 405px 1005px #FFF , 1622px 748px #FFF , 5px 1992px #FFF , 1120px 1333px #FFF , 474px 1984px #FFF , 499px 815px #FFF , 1775px 1628px #FFF , 1336px 802px #FFF , 1257px 1141px #FFF , 694px 1077px #FFF , 615px 863px #FFF , 942px 94px #FFF , 1163px 1024px #FFF , 954px 473px #FFF , 1725px 1814px #FFF , 1359px 1115px #FFF , 1112px 720px #FFF , 1540px 1835px #FFF , 1574px 1073px #FFF , 1380px 1716px #FFF , 632px 1711px #FFF , 1333px 1156px #FFF , 433px 1898px #FFF , 878px 298px #FFF , 1577px 1189px #FFF , 651px 596px #FFF , 190px 909px #FFF , 1783px 1753px #FFF , 771px 1783px #FFF , 727px 1676px #FFF , 1889px 1764px #FFF , 552px 960px #FFF , 396px 693px #FFF , 1666px 826px #FFF , 314px 334px #FFF , 1337px 1725px #FFF , 390px 909px #FFF , 450px 82px #FFF , 877px 878px #FFF , 2px 1529px #FFF , 986px 830px #FFF , 1556px 1795px #FFF , 506px 138px #FFF , 1593px 802px #FFF , 1847px 939px #FFF , 496px 1222px #FFF , 529px 1528px #FFF , 1598px 530px #FFF , 193px 432px #FFF , 1545px 1510px #FFF , 1608px 71px #FFF , 1168px 1100px #FFF , 1657px 1828px #FFF , 1985px 1264px #FFF , 519px 1743px #FFF , 982px 953px #FFF , 1453px 1975px #FFF , 1156px 1914px #FFF , 912px 1219px #FFF , 465px 365px #FFF , 340px 540px #FFF , 628px 1364px #FFF , 1804px 705px #FFF , 1472px 1996px #FFF , 673px 1296px #FFF , 1263px 1302px #FFF , 1960px 1471px #FFF , 270px 645px #FFF , 1002px 1811px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3000px);
  }
}

@keyframes fadeInAnimation { 
  0% { opacity: 0;} 
  100% { opacity: 1;}}
/*============================================== MOBILE ============================================== */
@media only screen and (max-width: 700px) {
#myNav {
  display :block}
  .navbar {
    display: none;
  }
.mobilenav {
  display: block;
  float: right;
  color: #fff;
  padding: 25px}
.body {
  overflow: hidden;
}
.overlay { 
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 3; 
  background-color: rgb(0, 0, 0); 
  background-color: #0a0a0a; 
  overflow-x: hidden; 
  transition: 0.5s; } 
.overlay-content { 
  position: relative;  
  text-align: center; 
  
  justify-content: center;
} 
.overlay a { 
padding-left: 0px;
padding-right:0px;
padding: 20px;
  font-size: 36px; 
  color: #fff; 
  font-family: 'Electrolize', sans-serif;
  text-decoration: none;
  display: block; 
  transition: 0.3s; } 
  .wrapper {
    display: table-row-group;
    gap:  30px;
    width: auto;
    margin: auto;
    padding: 30px;}
    .box-3 {
      border: 1px solid;
      height: inherit;
      width:33.33333333333333%;
      padding: 15px;
      justify-content: space-between;
      display: block;
      box-sizing:border-box;}
    .box-1{
      border: 1px solid;
      width: 100%;
      height: inherit;
      width: 100%;
      padding: 15px;
      position: flex;
      justify-content: space-between;
      display: block;
      box-sizing:border-box;}
    .box {
      color: #ffffff;
      margin-top: 5px;
      margin-bottom: 5px;
      background:#0a0a0a;
      border-image-source: linear-gradient(0deg, rgb(63, 24, 155), rgb(93, 30, 151),  rgb(169, 20, 182));
      border-image-slice: 1;}
.overlay a:hover, 
.overlay a:focus { 
  color: #bb58e9; } 
.overlay .closebtn { 
position: relative;
text-align: right;
  top: 20px; 
  right: 45px; 
  font-size: 60px; } 
[class*="col-3"] {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  margin: 0px;}
header, footer {
  width: auto; }
.box {
  width: 100%;}
.headandbody{
  width: auto;}
.navbut {
  display: none;
  width: auto;}
.navbar-header button {
  display: block;}
h1 {
  font-size: 25px;
  padding: 20px;
  text-align: left;}
 h2 {
  font-size: 25px;}
h3 {
  font-size: 20px;}
p {
  font-size: 20px;}
nav li {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0;}
hr {
  display:none;
}
.container {
  display: table;
}
nav:hover ul {
  display: block;}
.nbuttons {
  display: none;}
}